/* popup */

/* modal */
.modal{overflow-y:auto; text-align:center;}
.modal:before {display: inline-block; vertical-align: middle; content: ""; height: 100%;}
.modal-open .modal{overflow-x:auto;}
.modal-dialog{display: inline-block; text-align: left; vertical-align: middle; max-width:inherit; margin:0 auto; width:900px; padding:0 20px;}



.modal_header{
    position:relative; border-bottom:1px solid $border;
    .pop_title{line-height:60px; font-family: "Gong Gothic"; font-weight: 400; font-size:20px; color:#222;}
    .btn_pop_close{
        position:absolute; right:0; top:50%; margin-top:-7.5px;
        > span{width:16px; height:16px; background-position:-40px -120px;}
    }
}

.modal_body{
    .pop_tbl_area{max-height: 420px; overflow-y: auto;}
}


.sub_tab_none{
    display:flex; height:540px; align-items:center; justify-content:center;
    > span{display:block; line-height:26px; font-family: "Gong Gothic"; font-weight: 300; font-size:16px; color:#999; text-align:center;}
}

.list_title_area{
    @include flex; justify-content:space-between; align-items:center; padding:10px 5px; border-bottom:1px solid $border;
    .list_count{
        font-family: "Gong Gothic"; font-weight: 400; font-size:16px; color:#222;
        > strong{font-family: "Gong Gothic"; font-weight: 400; color:#0054a3;}
    }
    .control_wrap{
        .sel_area{
            @include flex; align-items:center;
            > label, select{}
            > label{padding-right:10px;}
            > select{width:130px; height:40px; font-size:14px; color:#222; padding:8px 30px 8px 10px; border:1px solid $border;}
        }
        .filter_icon{
            padding-left:20px;
            > span{
                color:#222; cursor:pointer;
                &:after{content:""; width:10px; height:14px; background-position:-80px -120px; margin-left:5px;}
                &.active:after{background-position:-80px -140px;}
            }
        }
    }
    &.flex_end{justify-content:flex-end; border-bottom:none;}
}

.analysis_area{
    .analysis_list{
        max-height:575px; overflow-y:auto; /*border-top:1px solid $border;*/ border-bottom:1px solid $border;
        > li{
            padding:25px 10px; background-image:url(../images/dash.png); background-repeat:repeat-x; background-position:0 bottom;
             @at-root .analysis_area .analysis_list > li:last-child{background-image:none;}
            .analysis_con{
                > dt, > dd{}
                > dt{
                    margin-bottom:10px;
                    strong, span{}
                    strong{font-size:16px; font-weight:500; color:#000; padding-right:12px;}
                    span{font-size:13px; color:#888;}
                }
                > dd{font-size:13px; line-height:24px;}
            }
        }
    }
}



/**/

.modal_type_01{width:120px;}
.modal_type_01 .modal-body{height:640px;}
.modal_type_02{width:440px;}

.modal_type_03{width:640px;}
.modal_type_03 .modal-body{height:625px;}
.modal_type_03 .modal_body01{overflow-y:auto; margin-bottom:20px;}
.modal_type_03 .modal_body02{height:500px; overflow-y:auto;}
.modal_type_04{width:640px;}
.modal_type_04 .modal-body{height:270px;}
.modal-content{padding:0 20px; border:none; border-radius:10px;}



.modal-footer{font-size:0; padding:20px 0 20px 10px; border-top:none;}
.modal-footer > button{width:100px; height:40px; font-size:14px; margin-left:10px; }
.modal-footer:not(.only) > button:first-child{margin-left:-10px;}
.modal-footer.only{padding-left:0;}
.modal-footer.only > button{margin-left:0;}

.modal-body{padding:0;}
.modal-body .pop_sub_title{font-family: "Gong Gothic"; font-weight: 400; font-size:18px; color:#222; padding:25px 0 15px 0;}
.modal-body .pop_sub_title01{padding:0;}
.modal-body .pop_sub_title02{padding-bottom:20px;}
.modal-body .pop_sub_title03{padding-top:20px; padding-bottom:15px !important; border-bottom:2px solid #666;}
.modal-body .pop_sub_title span{font-family: "Gong Gothic"; font-weight: 400; font-size:18px; color:#888;}
.modal-body .pop_sub_info{line-height:24px;}
.modal-body .sub_tab_title{font-family: "Gong Gothic"; font-weight: 400; font-size:18px; margin-top:18px;}
.modal-body .p_main_title{cursor:default;}
/*.modal-body .sub_tab_title + .list_title_area{margin-top:10px;}*/
.modal-body .search_area{margin:25px 0;}
.modal_tab_area{}
.modal_tab_con_area{ padding:32px 0;}


.alert_modal{
    .modal-dialog{width:350px; padding:30px; background-color:#fff; border:1px solid #d4d4d4; border-radius:10px; -webkit-box-shadow: 0px 0px 8px 1.5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 0px 8px 1.5px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 8px 1.5px rgba(0, 0, 0, 0.1);}
    .modal-content{padding:0;}
    .alert_txt{padding:20px 0 40px 0; text-align:center;}
    .modal_footer{text-align:center;}
    .modal_footer:not(.only){padding:0 0 0 10px;}
    .modal_footer.only{padding:0;}
    .modal_footer > button{width:136px; height:40px; font-size:14px; font-weight:500;}
}