<div class="header_wrap">
    <div class="inner_wrap">
            <h1 class="logo"><a href="index.html"><span class="icon">단아이</span></a></h1>
            <nav class="gnb">
                <!-- gnb -->
                <h2 class="skip">주메뉴</h2>
                <ul class="gnb_menu">
                    <!-- MY-DESK - 1학년 2학기~4학년 2학기 -->
                    <li class="active">
                        <!-- 해당 페이지에 진입시 active 클래스 추가 -->
                        <a href="#none">MY-Desk</a>
                        <div class="sub_menu_area">
                            <ul class="sub_menu">
                                <!-- 해당 페이지에 진입시 active 클래스 추가 -->
                                <li class="active"><a href="../MyDesk/AnalysisTopic_Student.html">분석토픽</a></li>
                                <li><a href="../MyDesk/InterestTopic.html">관심토픽</a></li>
                                <li><a href="../MyDesk/LectureHistory.html">수강이력</a></li>
                                <li><a href="../MyDesk/Curriculum_Student.html">교과과정</a></li>
                                <li><a href="../MyDesk/Scrap.html">스크랩</a></li>
                                <li><a href="../MyDesk/Favorite.html">즐겨찾기</a></li>
                                <li><a href="../MyDesk/Setting.html">설정</a></li>
                            </ul>
                        </div>
                    </li>
                    <!-- // MY-DESK - 1학년 2학기~4학년 2학기 -->
                    <!-- MY-DESK - 1학년 1학기 -->
                    <li class="active">
                        <a href="#none">MY-Desk</a>
                        <div class="sub_menu_area">
                            <ul class="sub_menu">
                                <li class="active"><a href="../MyDesk/AnalysisTopic_Freshman.html">분석토픽</a></li>
                                <li><a href="../MyDesk/InterestTopic.html">관심토픽</a></li>
                                <li><a href="../MyDesk/Curriculum_Freshman.html">교과과정</a></li>
                                <li><a href="../MyDesk/Scrap.html">스크랩</a></li>
                                <li><a href="../MyDesk/Favorite.html">즐겨찾기</a></li>
                                <li><a href="../MyDesk/Setting.html">설정</a></li>
                            </ul>
                        </div>
                    </li>
                    <!-- // MY-DESK - 1학년 1학기 -->
                    <!-- MY-DESK - 대학원생 -->
                    <li class="active">
                        <a href="#none">MY-Desk</a>
                        <div class="sub_menu_area">
                            <ul class="sub_menu">
                                <li class="active"><a href="../MyDesk/AnalysisTopic_Graduate.html">분석토픽</a></li>
                                <li><a href="../MyDesk/InterestTopic_Graduate.html">관심토픽</a></li>
                                <li><a href="../MyDesk/LectureHistory.html">수강이력</a></li>
                                <li><a href="../MyDesk/Curriculum_Graduate.html">교과과정</a></li>
                                <li><a href="../MyDesk/Scrap.html">스크랩</a></li>
                                <li><a href="../MyDesk/Favorite.html">즐겨찾기</a></li>
                                <li><a href="../MyDesk/Setting.html">설정</a></li>
                            </ul>
                        </div>
                    </li>
                    <!-- // MY-DESK - 대학원생 -->
                    <!-- MY-DESK - 교수자 -->
                    <li class="active">
                        <a href="#none">MY-Desk</a>
                        <div class="sub_menu_area">
                            <ul class="sub_menu">
                                <li class="active"><a href="../MyDesk/AnalysisTopic_Student.html">분석토픽</a></li>
                                <li><a href="../MyDesk/InterestTopic_Graduate.html">관심토픽</a></li>
                                <li><a href="../MyDesk/LectureHistory_Professor.html">강의이력</a></li>
                                <li><a href="../MyDesk/Scrap.html">스크랩</a></li>
                                <li><a href="../MyDesk/Favorite.html">즐겨찾기</a></li>
                                <li><a href="../MyDesk/Setting.html">설정</a></li>
                            </ul>
                        </div>
                    </li>
                    <!-- // MY-DESK - 교수자 -->
                    <!-- 학과 라운지 - 공통 -->
                    <li>
                        <a href="#none">학과라운지</a>
                        <div class="sub_menu_area">
                            <ul class="sub_menu">
                                <li><a href="../DepartmentLounge/BasicInformation.html">기본정보</a></li>
                                <li><a href="../DepartmentLounge/GraduationStatus.html">졸업현황</a></li>
                                <li><a href="../DepartmentLounge/TopicInformation.html">토픽정보</a></li>
                                <li><a href="../DepartmentLounge/NonSubject.html">비교과</a></li>
                                <li><a href="../DepartmentLounge/Reference.html">교재/참고문헌</a></li>
                                <li><a href="../DepartmentLounge/Recruit.html">채용</a></li>
                            </ul>
                        </div>
                    </li>
                    <!-- // 학과 라운지 - 공통 -->
                    <!-- 교과/비교과 - 대학생 -->
                    <li>
                        <a href="#none">교과/비교과</a>
                        <div class="sub_menu_area">
                            <ul class="sub_menu">
                                <li><a href="../Subject/Subject_Student.html">교과</a></li>
                                <li><a href="../Subject/NonSubject.html">비교과</a></li>
                            </ul>
                        </div>
                    </li>
                    <!-- // 교과/비교과 - 대학생 -->
                    <!-- 교과/비교과 - 대학원생 & 교수자 -->
                    <li>
                        <a href="#none">교과/연구</a>
                        <div class="sub_menu_area">
                            <ul class="sub_menu">
                                <li><a href="../Subject/Subject_Professor.html">교과</a></li>
                                <li><a href="../Subject/Research.html">연구</a></li>
                            </ul>
                        </div>
                    </li>
                    <!-- // 교과/비교과 - 대학원생 & 교수자 -->
                    <!-- 채용 - 대학생 & 대학원생 -->
                    <li>
                        <a href="#none">채용</a>
                        <div class="sub_menu_area">
                            <ul class="sub_menu">
                                <li><a href="../Recruit/RecruitAnalysis.html">채용분석</a></li>
                                <li><a href="../Recruit/RecruitAnalysis_Graduate.html">채용분석</a></li> <!-- 대학원생 -->
                                <li><a href="../Recruit/RecruitSearch.html">실시간 채용검색</a></li>
                            </ul>
                        </div>
                    </li>
                    <!-- // 채용 - 대학생 & 대학원생 -->
                    <!-- 채용 - 교수자 -->
                    <li>
                        <a href="#none">취업분석</a>
                        <div class="sub_menu_area">
                            <ul class="sub_menu">
                                <li><a href="../Recruit/RecruitAnalysis_Professor.html">채용/취업분석</a></li>
                                <li><a href="../Recruit/RecruitSearch_Professor.html">실시간 채용검색</a></li>
                            </ul>
                        </div>
                    </li>
                    <!-- // 채용 - 교수자 -->
                    <!-- 캠퍼스라이프 -->
                    <li>
                        <a href="#none">캠퍼스라이프</a>
                        <div class="sub_menu_area">
                            <ul class="sub_menu">
                                <li><a href="../CampusLife/Index.html">캠퍼스라이프</a></li>
                            </ul>
                        </div>
                    </li>
                    <!-- // 캠퍼스라이프 -->
                </ul>
                <!-- // gnb -->
            </nav>
            <div class="location">
                <!-- 알림이 있을 경우 on 클래스 추가 -->
                <span class="ico_noti on" onclick="fn_MoreToggle(this)">
                    <span class="icon">알림</span>
                </span>
                <div class="noti_pop_area">
                    <div class="noti_pop_hd">
                        <h4 class="ft_gong_400">알림</h4>
                        <button type="button" class="btn_icon btn_noti_colse" onclick="fn_NotiClose();"><span>알림 팝업 닫기</span></button>
                    </div>
                    <ul class="noti_pop_list">
                        <!-- 알림이 있을 경우 (최신순 기준 최대 5개 노출) -->
                        <li>
                            <p>
                                <strong>[주간브리핑]</strong>
                                <!-- 알림 내용이 길 경우 미리보기 되므로 title 필요 -->
                                <span title="지난 한 주를 정리했어요">지난 한 주를 정리했어요</span>
                            </p>
                            <span class="date">2020.12.13 09:0:00</span>
                            <span class="icon ico_chatbot">챗봇에서 상세정보 확인</span>
                        </li>
                        <li>
                            <p>
                                <strong>[주간브리핑]</strong>
                                <span title="지난 한 주를 정리했어요">지난 한 주를 정리했어요</span>
                            </p>
                            <span class="date">2020.12.13 09:0:00</span>
                            <span class="icon ico_chatbot">챗봇에서 상세정보 확인</span>
                        </li>
                        <li>
                            <p>
                                <strong>[주간브리핑]</strong>
                                <span title="지난 한 주를 정리했어요">지난 한 주를 정리했어요</span>
                            </p>
                            <span class="date">2020.12.13 09:0:00</span>
                            <span class="icon ico_chatbot">챗봇에서 상세정보 확인</span>
                        </li>
                        <li>
                            <p>
                                <strong>[주간브리핑]</strong>
                                <span title="지난 한 주를 정리했어요">지난 한 주를 정리했어요</span>
                            </p>
                            <span class="date">2020.12.13 09:0:00</span>
                            <span class="icon ico_chatbot">챗봇에서 상세정보 확인</span>
                        </li>
                        <li>
                            <p>
                                <strong>[주간브리핑]</strong>
                                <span title="지난 한 주를 정리했어요">지난 한 주를 정리했어요</span>
                            </p>
                            <span class="date">2020.12.13 09:0:00</span>
                            <span class="icon ico_chatbot">챗봇에서 상세정보 확인</span>
                        </li>
                        <!-- // 알림이 있을 경우 (최신순 기준 최대 5개 노출) -->
                        <!-- 알림이 없을 경우 -->
                        <!--<li class="none">도착한 알림이 없어요!</li>-->
                        <!-- // 알림이 없을 경우 -->
                    </ul>
                    <div class="noti_pop_ft">
                        <p class="more"><a href="../Common/Notification.html"><span class="icon_after">더보기</span></a></p>
                    </div>
                </div>
                <span class="logout"><a href="#"><span class="icon">로그아웃</span></a></span>
            </div>
        </div>
    </div>
<div class="header_bg"></div>