<div class="inner_wrap footer_wrap">
    <h2 class="skip">푸터 메뉴</h2>
    <h2 class="foot_logo"><a href="#"><span class="icon">DKU</span></a></h2>
    <div class="foot_info_wrap">
        <p class="center">
            <strong class="ft_gong_400">미래교육혁신원 EduAI센터</strong>
            <span class="ft_gong_300">Innovation Institute for Future Education EduAI Center</span>

        </p>
        <address class="address">
            <strong>죽전캠퍼스</strong>
            <span>(우) 16890 경기도 용인시 수지구 죽전로 152 범정관 117-1호 EduAI센터</span>
        </address>
        <p class="copy">Copyright&copy; BY DANKOOK UNIVERSITY. All rights reserved.</p>
    </div>
    <ul class="foot_btn_area">
        <li>
            <select class="form-control" onchange="javascript:go_url(this.options[this.selectedIndex].value);">
                <option value="#">서비스 바로가기</option>
                <option value="https://www.dankook.ac.kr/web/kor">단국대학교 홈페이지</option>
                <option value="https://portal.dankook.ac.kr">단국대학교 포털</option>
                <option value="http://eduai.dankook.ac.kr/pc.html">EduAI</option>
                <option value="https://i.dankook.ac.kr/">단아이(Dan.i)</option>
                <option value="https://youngwoong.dankook.ac.kr">영웅스토리</option>
                <option value="https://mirae.dankook.ac.kr/web/mirae/-ctl">교수학습개발센터</option>
                <option value="https://lincplus.dankook.ac.kr">LINC+사업단</option>
                <option value="http://lib.dankook.ac.kr">퇴계도서관(죽전)</option>
                <option value="http://libc.dankook.ac.kr">퇴계도서관(천안)</option>
                <option value="https://nlms.dankook.ac.kr/">e-Campus</option>
                <option value="https://lms.dankook.ac.kr/">(구)e-Campus</option>
                <option value="https://domi.dankook.ac.kr">생활관</option>
                <option value="https://cms.dankook.ac.kr/web/innovation">대학혁신사업단</option>
            </select>
        </li>
    </ul>
</div>
<button type="button" class="btn_icon btn_top"><span>상단으로 이동</span></button>