        <!-- header -->
<header id="header">
    <div class="header_wrap">
        <div class="inner_wrap">
            <h1 class="logo"><a href="../IntegrationSearch/index.html"><span class="icon">D-esk</span></a></h1>
            <nav class="gnb">
                <!-- gnb -->
                <h2 class="skip">주메뉴</h2>
                <ul class="gnb_menu">
                    <li><a href="../IntegrationSearch/Index.html">통합검색</a></li>
                    <li><a href="../SubjectAnalysis/Index.html">교과분석</a></li>
                    <li><a href="../NonSubjectAnalysis/Index.html">비교과분석</a></li>
                    <li><a href="../DepartmentAnalysis/Index.html">학과분석</a></li>
                    <li><a href="../EmploymentAnalysis/Index.html">취업분석</a></li>
                    <li><a href="../RecruitAnalysis/Index.html">채용분석</a></li>
                    <li><a href="../LectureHistoryAnalysis/Index.html">수강이력분석</a></li>
                    <li><a href="../EducationStatistics/Index.html">교육지식통계현황</a></li>
                </ul>
                <!-- // gnb -->
            </nav>
            <div class="location">
                <span class="name">홍길동님</span>
                <span class="logout"><a href="#">로그아웃</a></span>
            </div>
        </div>
    </div>
</header>
<!-- // header -->