            <!-- footer -->
<footer id="footer">
    <div class="footer_wrap inner_wrap">
        <h2 class="skip">푸터 메뉴</h2>
        <h2 class="foot_logo"><a href="#"><span class="icon">EduAI</span></a></h2>
        <div class="foot_info_wrap">
            <p class="center">
                <strong class="ft_gong_400">미래교육혁신원 EduAI센터</strong>
                <span class="ft_gong_300">Innovation Institute for Future Education EduAI Center</span>

            </p>
            <address class="address">
                <strong>죽전캠퍼스</strong>
                <span>(우) 16890 경기도 용인시 수지구 죽전로 152 범정관 117-1호 EduAI센터</span>
            </address>
            <p class="copy">Copyright&copy; BY DANKOOK UNIVERSITY. All rights reserved.</p>
        </div>
    </div>
    <button type="button" class="btn_icon btn_dani" onclick="window.open('http://blucean.iptime.org:8301/')"><span>Dan.i PC 바로가기</span></button>
    <button type="button" class="btn_icon btn_top"><span>상단으로 이동</span></button>
</footer>
<!-- // footer -->