@charset "utf-8";

@import "fonts", "var", "reset", "popup";

/* ------------------------------------------------------- COMMON > ICONS ------------------------------------------------------- */
.icon{background-image:url(../images/icon.png); background-repeat: no-repeat; background-position:0 0; background-size:500px 500px; display:inline-block; vertical-align:middle; text-indent:-9999px;}
.icon_after, .icon_before{position:relative;}
.icon_before:before, .icon_after:after{content:""; display:inline-block; vertical-align:middle; background-image:url(../images/icon.png); background-repeat: no-repeat; background-position:0 0;}
.icon_txt{overflow: hidden; position: absolute; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px;}
.icon_notxt{font-size:0;}
.a_btn_icon{display:inline-block; vertical-align:middle; font-size:0; padding:0;}
.btn_icon{background-color:transparent;}
.a_btn_icon span, .btn_icon > span{background-image:url(../images/icon.png); background-repeat: no-repeat; background-position:0 0; background-size:500px 500px; display:inline-block; vertical-align:middle; text-indent:-9999px;}

/* ------------------------------------------------------- COMMON > LAYOUT ------------------------------------------------------- */
body{overflow-y:auto;}
#wrap{width:100%; height:100%; display: inline-block; vertical-align: top; position:relative;}
#wrap.active{height:auto;}
body.open{overflow-y:hidden;}

#container{width:100%;  min-height:100%; position:relative;}
#container .inner_wrap{}
.inner_wrap{width:1200px; max-width:100%; margin:0 auto; padding:0 35px; position:relative;}


/* ------------------------------------------------------- Header ------------------------------------------------------- */
#header{width:100%; min-width:1200px; height:152px; background-color:#fff; background-image:url(../images/header_bg.png); background-position:0 0; background-repeat:repeat-x; text-align:center; position:fixed; left:0; top:0; z-index:1000;}
.header_wrap{display:inline-block; vertical-align:top;}
.logo{padding:27px 0;}
.logo > a{display:inline-block; vertical-align:middle;}
.logo > a > span{width:130px; height:46px;}
.gnb{}
.gnb_menu{
    @include flex; width:100%;
     > li{
         flex:0 0 11.5%; 
         &:nth-child(3){flex:0 0 12.5%;}
         &:nth-child(7){flex:0 0 13.5%;}
         &:nth-child(8){flex:0 0 16.5%; }
        &:hover > a, &.active > a, &.on > a{
            color:$color_primary; 
            &:after{content:""; position:absolute; left:15px; right:15px; bottom:0; height:3px; background-color:$color_primary;}
        }
        > a{
            display:block; line-height:52px; font-size:18px; font-weight:500; color:#222; padding:0 15px; position:relative;
        }
     }
}

.location{
    position:absolute; right:35px; top:50px;
    > span{
        display:inline-block; vertical-align:middle; font-size:$font_size_xs;
        &.name{margin-right:10px;}
        &.logout{
            > a{display:block; width:70px; height:24px; line-height:24px; text-align:center; background-color:$color_white; border:1px solid $border; border-radius:$radius_xs;
            }
        }
    }
}

/* ------------------------------------------------------- Footer ------------------------------------------------------- */
#footer {height:120px; background-color:#333; padding-top:25px; position:relative;}
.footer_wrap{width:1200px; overflow:hidden; margin:0 auto;}
.foot_logo{float:left;}
.foot_logo > a{}
.foot_logo > a > span{width:107px; height:38px; background-position:-160px 0;}
.foot_info_wrap{float:left; padding-left:20px; }
.foot_info_wrap .center{font-size:0; opacity:0.9; filter:alpha(opacity=90);}
.foot_info_wrap .center > strong, .foot_info_wrap .center > span{display:inline-block; line-height:22px; color:#fff;}
.foot_info_wrap .center > strong{font-family:$sub_font_family; font-weight: 400; font-size:16px;}
.foot_info_wrap .center > span{font-family: $sub_font_family; font-weight: 300; font-size:12px; margin-left:5px;}
.foot_info_wrap .address{font-size:0; margin-top:10px; opacity:0.6; filter:alpha(opacity=60);}
.foot_info_wrap .address > strong, .foot_info_wrap .address > span{display:inline-block; vertical-align:middle; font-size:12px; color:#fff;}
.foot_info_wrap .address > strong{font-weight:500; padding-right:5px;}
.foot_info_wrap .address > span{}
.foot_info_wrap .copy{font-size:12px; color:#fff; margin-top:5px; opacity:0.6; filter:alpha(opacity=60);}


/* ------------------------------------------------------- floating button ------------------------------------------------------- */
.btn_top{width:72px; height:72px; display:none; position:fixed; right:20px; bottom:20px; z-index:102;}
.btn_top > span{width:72px; height:72px; background-position:0 -160px;}

.btn_dani{width:72px; height:72px; border-radius:50%; position:fixed; right:20px; bottom:105px; z-index:102; @include shadow_filter_pop_list;}
.btn_dani > span{width:72px; height:72px; background-position:-80px -160px;}
.btn_dani:hover > span{background-position:-160px -160px;}

/* ------------------------------------------------------- loading ------------------------------------------------------- */
.loading{z-index: 1000; position: fixed; top: 0; right: 0; left: 0; bottom: 0; background-color: rgba(0,0,0,0.8);}
.loading_icon{display:flex; flex-direction: column; align-items:center; justify-content:center; width:100%; height:100%;}
.loading_icon > span{display:block; line-height:26px; font-family: "Gong Gothic"; font-weight: 300; font-size:16px; color:#fff; padding-top:20px; text-align:center;}
.pop_loading{z-index: 200; position: absolute; top: 60px; right: 0; left: 0; bottom: 0; background-color: rgba(0,0,0,0.8); border-radius:0 0 10px 10px;}
.pop_loading .loading_icon{}

/* ------------------------------------------------------- error ------------------------------------------------------- */
.error_wrap{display:flex; align-items:center; justify-content:center; width:100%; height:100%;}
.error_area{}
.error_area .error_info{
        @include flex; flex-direction:column; padding-top:135px; padding-bottom:40px; background-image:url(../images/error.png); background-repeat:no-repeat; background-position:center top; text-align:center;
    span, strong{font-family:$sub_font_family; font-weight:400; color:#111;}
    > span{font-size:16px; line-height:24px; font-weight:300;}
    > strong{font-size:20px; margin-bottom:20px;}
}
.error_btn{
    text-align:center; font-size:0;
    button{
        width:160px; height:50px; font-size:16px; font-weight:500; margin-left:10px;
        &:first-child{margin-left:0;}
    }
} 

/* ------------------------------------------------------- autocomplete ------------------------------------------------------- */
.auto_complete_wrap{display:none; width:474px; height:237px; margin-left:126px; background-color:#fff; border:1px solid $border; position:absolute; z-index:100;}
.auto_complete_area{
    max-height:185px; overflow-y:auto; padding:12px 15px;
}
.auto_complete_footer{
    width:100%; padding:15px; background-color:#fff; border-top:1px solid $border; text-align:right; position:absolute; left:0; bottom:0; z-index:101;
    > span, > strong{display:inline-block; vertical-align:middle;}
    > span{font-weight:500; margin-right:3px;}
    > strong{
        > label{
            font-weight:600 !important; color:#da97ab;
            &.active{color:$color_primary;}
        }
        
    }
}
.ui-autocomplete{width:470px !important; max-width:100%; max-height:187px; border:none !important; text-align:left; overflow:hidden; position:relative;}
.ui-autocomplete > li.ui-menu-item{position:relative; font-size:15px; line-height:22px; color:#222; padding-left:27px; padding-right:27px;}
.ui-autocomplete > li.ui-menu-item:last-child{margin-bottom:0;}
.ui-autocomplete > li.ui-menu-item:before{content:""; display:inline-block; vertical-align:middle; width:22px; height:22px; background-image:url(../images/icon.png); background-repeat: no-repeat; background-position:-60px -90px; position:absolute; left:0; top:50%; margin-top:-11px;}
.ui-autocomplete > li.ui-menu-item .ui-menu-item-wrapper{padding:0 10px; max-width:100%; height:32px; line-height:32px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.ui-autocomplete > li.ui-menu-item .ui-state-active{background-color:#f0f0f0; border:none; color:#222; margin:0;}
.ui-autocomplete > li.ui-menu-item .ui-state-highlight{background:#fff; border:none; color:$color_primary; font-weight:500;}
.ui-autocomplete > li.ui-menu-item .btn_key_del{position:absolute; right:0; top:50%; margin-top:-5px;}
.ui-autocomplete > li.ui-menu-item .btn_key_del > span{width:10px; height:10px; background-position:-60px -120px;}
.auto_complete_wrap .mCSB_scrollTools .mCSB_draggerRail{display:none;}
.auto_complete_wrap .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color:#e5e5e5 !important; background-color:rgba(0,0,0,0.1) !important; border-radius:3px; overflow:hidden; margin:0 0 0 auto !important;}


/* ------------------------------------------------------- Contents > Main ------------------------------------------------------- */
.main_wrap{
    padding:115px 0; text-align:center;
    .main_title{
        @include flex; flex-direction:column; 
        span, strong{font-family:$sub_font_family; font-weight:400; color:#111;}
        > span{font-size:30px;}
        > strong{
            font-size:80px; line-height:70px; margin:25px 0 15px 0;
            > span{display:inline-block; vertical-align:middle; width:20px; overflow:hidden;}
        }
    }
    .main_en_info{
        font-size:20px; line-height:30px; color:$font_darkgray;
    }
    .search_area{margin-top:85px;}
}

/* ------------------------------------------------------- Contents > Common ------------------------------------------------------- */

.contents_wrap{
    min-height:100%; padding:30px 0 0 0;
    .contents_area{
        @include flex;
        padding-top:20px;
        .filter_wrap{
            width:250px; border:1px solid $border_light;
        }
        .contents{
            width:880px; padding-left:20px;
            &.contents01{padding-left:0; width:100%;}
        }
        .result_info{
            @include flex; justify-content:center; align-items:center;
            width:100%; height:600px;
            span{
                display:block; font-size:18px; color:#222; padding-top:75px;
                &:before{content:""; position:absolute; left:50%; top:0; width:43px; height:43px; margin-left:-22px; background-image:url(../images/icon.png); background-repeat:no-repeat; background-position:0 -60px; }
                strong{color:$color_primary;}
            }
        }
    }
}

.search_area{
    width:600px; margin:0 auto 40px auto; position:relative;
     > .search_box{
        @include flex;
        width:100%; height:50px; margin:0 auto; border:2px solid $color_primary; position:relative;
        > select{width:135px; height: 46px; font-size:16px; padding: 12px 30px 12px 20px;}
        > input{}
        > button{width:58px; height:46px; position:absolute; right:0; top:0;}
        > button > span{width:22px; height:22px; background-position:-60px -60px;}
     }
     > .search_chk{
         position:absolute; right:-110px; top:30px;
         .icon_chk + label{
             font-size:13px; color:#222;
             &:before{margin-right:5px;}
         }
     }
     &.search_area01{
         .auto_complete_wrap{
             width:100%; margin-left:0;
             .ui-autocomplete{width:100% !important;}
         }
     }
     &.search_area02{
         margin-bottom:80px;
         .search_sel_area{
             @include flex; padding-left:20px; margin-bottom:10px;
             select{
                 flex:0 0 33.33%; width:33.33%; height:40px; border:1px solid $border; border-radius:2px; margin-left:10px;
                 &:first-child{margin-left:-20px;}
             }
         }
         .search_btn{
             position:absolute; left:50%; bottom:-65px; margin-left:-75px;
             .btn_search{width:150px; height:50px; font-size:14px; font-weight:500;}
         }
         .search_reset{
             position:absolute; right:-45px; top:82px;
            .reset{font-size: 12px; color: #000; padding-bottom: 2px; border-bottom: 1px solid #666;}
         }
     }
}

.result_wrap{
    padding:10px 0; border-bottom:1px solid $border_light;
    .keyword{
        p{
            font-weight:500; line-height:24px;
            strong{color:$color_primary; margin-left:5px;}
        }
    }
    .count_area{
        @include flex; justify-content:space-between; align-items:flex-end;
        .count{
            @include flex;
            > p{
                font-weight:500; margin-left:10px;
                strong{color:$color_primary;}
                span{color:$color_darkgray;}
            }
        }
    }
}


.filter_wrap{
    span{
        &.txt{
            margin-right:5px;
        }
        &.count{
            color:$color_primary;
        }
    }
    .filter_list{
        > li{
            > .filter_tit{
                display:block; font-size:0; padding:12px 20px; background-color:#f3f3f3; border-bottom:1px solid $border;
                > span{
                    font-size:14px; font-weight:500;
                     &.txt{
                        color:#555;
                    }
                }
            }
            .filter_tit01{
                display:block; font-size:0; padding:12px 20px; background-color:#f3f3f3; border-bottom:1px solid $border; cursor:pointer;
                > span{
                    font-size:14px; font-weight:500;
                        &.txt{
                        color:#555;
                    }
                }
                & + .filter_sub_list > li > a{cursor:default;}
            }
            > span.filter_tit{

            }
            .filter_sub_list{
                max-height:160px; overflow-y:auto; padding:4px 20px; border-bottom:1px solid $border;
                > li{
                    font-size:13px; line-height:30px;
                    > a{
                        display:block;
                        > span{
                            &.txt{
                                margin-right:5px;
                            }
                            &.count{
                                color:$color_primary;
                            }
                        }
                        &.active{
                            > span{
                                &.txt{font-weight:500; padding-bottom:2px; border-bottom:1px solid #222;}
                            }
                        }
                    }
                }
                &.filter_sub_list01{max-height:inherit;}
            }
        }
    }
    .filter_opt_area{
        dt, dd{}
        dt{
            @include flex; justify-content:space-between; padding: 12px 20px; background-color: #f3f3f3; border-bottom: 1px solid #d4d4d4;
            span{font-size:14px; font-weight:500;}
            .reset{font-size: 12px; color: #000; padding-bottom: 2px; border-bottom: 1px solid #666;}
        }
        dd{
            padding: 4px 20px;
            border-bottom: 1px solid #d4d4d4;
            .filter_select_list{
                padding:10px 0; margin-top:-10px;
                 > li{
                    @include flex; align-items:center; margin-top:10px;
                    > span{font-size:12px; color:$color_primary; padding-right:10px; }
                    > button{
                        > span{width:10px; height:10px; background-position:-60px -120px;}
                    }
                }
            }
            .filter_opt{
                @include flex; padding:8px 0;
                > li{
                    &.active{
                        > a{color:#000;}
                    }
                    &:first-child{
                        &:after{
                            content:""; display:inline-block; vertical-align:middle; width:2px; height:12px; margin:-2px 4px 0 4px; background-color:#959595;
                        }
                    }
                    > a{font-size:13px; color:#222;}
                }
            }
            p.none{
                line-height:80px;
            }
        }
    }
}

.contents{
    .cont_hd{
        @include flex; justify-content:space-between; align-items:center;
        padding:14px; background-color:#f2f6f9; border:1px solid $border_light; 
        .cont_tit{
            > h3{
                display:inline-block; color:#222;
                > strong{
                    font-family:$sub_font_family; font-weight:400; font-size:20px;
                    span{font-family:$sub_font_family; font-weight:400; font-size:20px;}
                }
                > span{

                }
            }
            > span{
                display:inline-block; color:#222;
                > strong{font-weight:600; color:$color_primary;}
            }
        }
        > a{font-size:12px;}
    }
}

.filter_tab_area{
    padding-top:10px; padding-bottom:10px;
    .tab_wrap{
        .tab-content{
            .tab-pane{
                &.active{

                }
                .filter_opt{
                    @include flex; padding:0 25px 10px 25px;
                    > li{
                        &.active{
                            > a{color:#000;}
                        }
                        &:first-child{
                            &:after{
                                content:""; display:inline-block; vertical-align:middle; width:2px; height:14px; margin:-2px 4px 0 4px; background-color:#585858;
                            }
                        }
                        > a{color:#888; font-weight:500;}
                    }
                }
                .tab_filter_list{
                    @include flex; flex-wrap:wrap;
                    &.tab_filter_list02{
                        > li{flex:0 0 50%; width:50%;}
                    }
                    &.tab_filter_list03{
                        > li{flex:0 0 33.33%; width:33.33%;}
                    }
                    &.tab_filter_list04{
                        > li{flex:0 0 25%; width:25%;}
                    }
                    > li{
                        line-height:26px; padding-left:25px; overflow:hidden; white-space: nowrap; text-overflow: ellipsis;
                        > a{
                            display:block;
                            > span{
                                &.txt{color:#000;}
                                &.count{color:#555;}
                            }
                        }
                        &.active > a{font-weight:500; text-decoration:underline;}
                    }
                }
            }
        }
        .tab_select_area{            
            padding:18px 65px 18px 20px; border:1px solid $border; border-top:none; position:relative;
           .tab_select_list{
               @include flex; align-items:center; flex-wrap:wrap; margin-top:-10px;
                > li{
                    @include flex; align-items:center; margin-top:10px;
                    > span{font-size:12px; color:$color_primary; padding-left:20px; padding-right:12px; }
                    > button{
                        > span{width:10px; height:10px; background-position:-60px -120px;}
                    }
                }
            }
            .reset{font-size:12px; color:#000; padding-bottom:2px; border-bottom:1px solid #666; position:absolute; right:15px; top:18px;}
        }
        
    }
    &.filter_tab_area01{
        padding-top:30px;
        .tab_wrap{
            .tab_nav{margin-bottom:20px;}
            .tab-content{max-height:inherit; border:none;}
        }
    }
}

.cont_tbl_wrap{
    margin-top:20px;
    .list_title_area{padding-top:0;}
    .cont_sub_info{margin-bottom:20px;}
    .tbl_area{
        .tbl{
            width:100%; border-bottom:1px solid $border; table-layout:fixed;
            &.tbl_list{
                th, td{}
                th{}
                td{}
            }
            th, td{color:#000; vertical-align:middle;}
            th{
                height:40px; padding:12px 20px; background-color:#f9f9f9; border-top:1px solid $border;
            }
            td{
                padding:18px 20px; background-color:#fff; border-top:1px solid $border;
                .category{
                    display:block; line-height:18px; max-height: 40px; overflow:hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-break: break-all;
                    &.ellipsis{display:block; text-overflow: ellipsis; white-space:nowrap;}
                }
                &.td_dash{
                    padding:10px 20px; border-top:none; background-image:url(../images/dash.png); background-repeat:repeat-x; background-position:0 0;
                    dl{
                        @include flex; align-items:center;
                        dt, dd{}
                        dt{
                            font-weight:500; color:#000; margin-right:23px;
                        }
                        dd{
                            
                        }
                    }
                }
                &.td_explan{
                    padding:20px; background-color:#f5f5f5; border:1px solid $border;
                    .subject_explan{
                        dt, dd{font-size:13px; color:#333; line-height:26px;}
                        dt{font-weight:500;}
                        dd{}
                    }
                }
                &.center{
                    .tbl_btn{justify-content:center;}
                }
                .td_title {
                    > a, > span, > strong{display:block;}
                    > a{
                    
                    }
                    > .main_title{
                        font-size:16px; font-weight:500; color:#000; line-height:22px; margin-bottom:10px;
                        max-height: 45px; overflow:hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-break: break-all;
                    }
                    > .sub_title{
                        display:block; font-size:13px; color:#888; margin-bottom:15px;
                        overflow:hidden; text-overflow: ellipsis; white-space:nowrap;
                    }
                }
                @at-root .cont_tbl_wrap .tbl_area .tbl tbody tr:last-child td{border-bottom:none;}

                .subject_tit{
                    @include flex; flex-wrap:wrap; align-items:center; padding-bottom:5px;
                    h4{font-size:16px; font-weight:500; color:#000; padding-right:10px;}
                    span{font-size:13px; color:#888; line-height:28px; padding-right:10px;}
                    a{width:100px; height:24px; font-size:12px; font-weight:500; padding:4px 15px;}
                }
                .subject_con{
                    .subject_con_list{
                        > li{font-size:13px; line-height:24px; color:#222;}
                    }
                }
                .tbl_btn{
                    @include flex;
                    > a{
                        font-size:11px; margin-left:8px; padding:3px 20px; border-radius:10px;
                        &:first-child{
                            margin-left:0;
                        }
                    }
                }
                .tbl_label_area{
                    @include flex; flex-wrap:wrap; align-items:center;
                    > li{
                        @include flex; flex-wrap:wrap; align-items:center; width:50%;
                        strong, span{}
                        strong{font-size:11px; font-weight:500; color:#555; padding:3px 20px; border:1px solid #999; border-radius:10px;}
                        span{max-width:calc(100% - 95px); font-size:12px; color:#888; padding-left:10px;}
                        &.lg{
                            span{max-width:calc(100% - 115px);}
                        }
                    }
                }
            }
        }
    }
    .subject_btn{
        > a{
            font-size:12px; margin-left:7px; border-radius:10px;
            @at-root .cont_tbl_wrap .tbl_area .subject_con_list > li .subject_btn{
                display:inline-block; vertical-align:middle; margin-left:7px;
                a{line-height:normal;}
            }
            &.a_btn_gray, &.a_btn_lightgray01{height:20px; font-weight:500; padding:2px 18px;}
            &.a_btn_lightgray{height:18px; padding:1px 16px;}
            &:first-child{
                margin-left:0;
            }
        }
    }
    .more{
        padding-top:20px; padding-bottom:70px;
        text-align:center;
        > a{display:inline-block; vertical-align:middle; color:#222; padding:11px 34px; background-color:#fff; border:1px solid $border_light;}
    }
}

.main_tab_area {
    .tab_info{
        @include flex; justify-content:flex-end; align-items:center; padding-top:30px;
        > span{color:#555; margin-right:5px;}
        > a{font-size:12px; color:#222; padding:5px 12px; border-radius:5px;}
    }
    .tab_wrap{  
        .tab_nav{
            margin:30px 0;
        }
        .tab-content{
            .filter_list{
                @include flex; flex-wrap:wrap; margin:30px 0; border-top:1px solid $border;
                > li{
                     > a{display:block; line-height:38px; text-align:center; color:#aaa; background-color:#fff; border:1px solid $border; margin-left:-1px; margin-top:-1px;}
                    &.active > a{background-color:$color_primary; border-color:$color_primary; color:#fff;}
                }
                &.filter_list02{
                    > li {flex:0 0 50%;}
                }
                &.filter_list04{
                    > li {flex:0 0 25%;}
                }
                &.filter_list05{
                    > li{flex:0 0 20%;}
                }
            }
        }
    }
    .cont_tbl_wrap .tbl_area{
        th, td{vertical-align:middle;}
        td {
            padding: 25px 20px 20px 20px;
        }
    }
    &.main_tab_area01{
        .tab_wrap{
            .tab_nav{margin:0;}
            .chart_area{margin-top:0;}
            .filter_tab_area{
                padding:0;
                .chart_area{border-top:none;}
            }
            @at-root .main_tab_area02 > .tab_wrap > .tab-content{padding:0 20px;}
        }
        .cont_none_area02{margin-top:0; border-top:none; background-color:#fff;}

        .cont_sub_hd{
            padding-top:25px; padding-bottom:25px;
            .cont_sub_title{
                font-family:$sub_font_family; font-weight:300; font-size:16px; color:#222; padding-left:15px; position:relative;
                &:before{content: ""; position: absolute; left: 0; top: 50%; width: 5px; height: 5px; margin-top: -2.5px; margin-right: 10px; background-color: #000;}
            }
            .cont_sub_info{
                line-height:24px; padding-left:15px; margin-top:15px;
                &.only{padding-left:0; margin-top:0;}
            }
            .list_title_area{padding:0;}
            & + .cont_tbl_wrap{margin-top:0;}
        }
    }
}

.tab_nav{
        @include flex; overflow:hidden;
    > li{
        flex:0 0 25%;
        > a{
            display:block; line-height:40px; text-align:center; color:#aaa; background-color:#fff; border:1px solid $border; margin-left:-1px;
            &.active{background-color:$color_primary; border-color:$color_primary; color:#fff;}
        }
        &:first-child > a{margin-left:0;}
    }
    &.tab_nav02{
        > li {flex:0 0 50%;}
    }
    &.tab_nav03{
        > li {flex:0 0 33.33%;}
    }
    &.tab_nav05{
        border-top:1px solid $border; border-left:1px solid $border;
        > li {
            flex:0 0 20%; margin-top:-1px;
            &:nth-child(5n+1){margin-left:-1px;}
        }
    }
}

.main_tab_nav{
    @include flex; overflow:hidden; margin-top:30px;
    & > li {
        a {
        display:block; height: 50px; line-height: 50px; text-align: center; font-family:$sub_font_family; font-weight:300; font-size:16px; color:#b1b1b1; margin-left:-1px; background: #f2f2f2; border: 1px solid $border; position:relative;
            > span{font-size:14px;}
        &.active { 
            color: #222;
            background-color: #fff;
            border: 1px solid $border;
            border-bottom: 1px solid #fff;
            > span{
                color:#222;
                > span{color:$color_primary;}
            }
            &:before{content:""; position:absolute; left:0; top:-1px; width:100%; height:2px; background-color:$color_primary;}
        }
    }
    &:first-child > a{margin-left:0;}
    }
    &.main_tab_nav02{
        > li {flex:0 0 50%;}
    }
    &.main_tab_nav03{
        > li {flex:0 0 33.33%;}
    }
    &.main_tab_nav05{
        > li {flex:0 0 20%;}
    }
}

.filter_tab_area{
    .cont_tbl_wrap .tbl_area{
        th, td{vertical-align:middle;}
        td {
            padding: 25px 20px 20px 20px;
        }
    }
}

.filter_search_wrap{
    border:1px solid $border; border-bottom:none; margin-bottom:10px;
    .filter_search_area{
        overflow:hidden;
        > dt{clear:left; float:left; display:block; width:130px; height:48px; color:#000; padding:15px 18px; background-color:#f9f9f9; border-right:1px solid $border;}
        > dd{padding:0 0 0 130px; border-bottom:1px solid $border;}
        > dd:after{content:""; display: table; clear: both;}
    }
    .filter_sub_list{
        @include flex; justify-content:space-around; align-items:center; height:48px;
        > li{
            color:#b1b1b1; cursor:pointer;
            &.active{font-weight:500; color:#000;}
        }
    }
    .filter_sel_list{
        @include flex; padding:4px 6px;
        > li{
            flex:0 0 33.33%; padding-left:10px;
            &:first-child{padding-left:0;}
            select{width:100%; height:40px; border:1px solid $border;}
        }
    }
}

.tab_scroll_area{
    max-height:200px; overflow-y:auto; padding:20px 5px; border:1px solid $border; border-top:none;
    &.tab_scroll_area01{max-height:175px;}
    .mCustomScrollBox{height:auto;}
    .mCSB_inside > .mCSB_container{margin-right:6px !important;}
    .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden{margin-right:0 !important;}
    .mCSB_scrollTools .mCSB_draggerRail{display:none;}
    .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:5px; background-color:#d3d3d3 !important; border-radius:3px; overflow:hidden; margin:0 2px 0 auto !important;}
}


.chart_area{
    text-align:center; margin-top:15px; margin-bottom:50px; background-color:#fff; border:1px solid $border; position:relative;
    @at-root .modal_body .chart_area{border:none; margin-bottom:15px;}
    .chart_info{
        font-size:13px; position:absolute; left:13px; top:13px;
    }
    &.chart_area01{
        padding-top:70px;
        .list_title_area{padding:0; position:absolute; right:13px; top:13px;}
    }
}

.cont_none_area01{
    padding:60px 0; text-align:center;
    > p{font-size:18px; font-weight:500; color:#555;}
}

.cont_none_area02{
    text-align:center; padding:20px; margin-top:10px; margin-bottom:30px; background-color:#f9f9f9; border:1px solid $border;
    > p{color:#555;}
}

.accordion {
    padding-bottom:30px;
  .card { 
      margin-bottom:10px; border:1px solid $border !important; border-radius:0; 
    .card-header { 
        padding:0; margin-bottom:0; background-color:#fff; border:none; border-radius:0;
      .btn_collapse {
        width:100%; padding:15px 45px 15px 15px; text-align:left; position:relative;
        &:after{content:""; display:inline-block; vertical-align:middle; background-image:url(../images/icon.png); background-repeat: no-repeat; background-position:-120px -120px; width:12px; height:7px; position:absolute; right:17px; top:50%; margin-top:-3.5px;}
        &.collapsed{
            &:after{background-position:-100px -120px;}
        }
        .card_tit {
          font-weight:500;
        }
      } 
    }
    .card-body{
        border-top:1px solid $border;
    }
    .chart_area{
        margin:0; border:none;
    }
  }
}

/* paging */
.paging_area{display:inline-block; vertical-align:middle; width:100%; padding:30px 0; text-align:center;}
.paging{display:inline-block; vertical-align:top; font-size:0;}
.paging > li{display:inline-block; vertical-align:middle; margin:0 3px;}
.paging > li > a{display:block; width:25px; height:25px; line-height:23px; font-size:12px; color:#999; background-color:#fff; border:1px solid $border; text-align:center; }
.paging > li.active > a, .paging > li:not(.page_prev):not(.page_next):hover > a{color:#fff; background-color:$color_primary; border-color:$color_primary;}
.paging > .page_prev > a, .paging > .page_next > a{border:none;}
.paging > .page_prev > a > span, .paging > .page_next > a > span{width:25px; height:25px;}
.paging > .page_prev > a > span{background-position:-100px -60px;}
.paging > .page_next > a > span{background-position:-140px -60px;}



/* tooltip */
.icon_tooltip{width:22px; height:22px; margin-left:5px; background-position:-140px -100px; cursor:pointer;}
.tooltip{}
.tooltip.show {opacity: 1;}
.tooltip-inne, .ui-tooltip{width: 300px; padding: 15px; color: #242a22; text-align: center; border-radius: 10px; font-size:14px; line-height:24px; background-color: #fff; border:1px solid #d4d4d4; position:relative; -webkit-box-shadow: 0px 0px 13.5px 1.5px rgba(0, 0, 0, 0.17); -moz-box-shadow:0px 0px 13.5px 1.5px rgba(0, 0, 0, 0.17); box-shadow:0px 0px 13.5px 1.5px rgba(0, 0, 0, 0.17); margin-left:9px;}
.tooltip .tooltip-arrow, .bs-tooltip-top .arrow::before, .bs-tooltip-right .arrow::before{display:none !important;}
.bs-tooltip-top .tooltip-inner::after{left:50%; margin-left:-4.5px; top:auto; bottom:-9px; margin-top:0; transform:rotate(0deg);}
.bs-tooltip-top .tooltip-inner, .ui-tooltip-content{min-width:100px; padding:10px 12px;}
.ui-tooltip-content{padding:0;}
